@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

body {
    background: linear-gradient(to bottom right, #ff007f, #ff5f5f, #ffaf00, #ffcf40, #c6ff00, #02d3ff, #5f00ff, #8f00ff, #ff00ff);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Comic Neue";
    font-weight: bold;
    color: #932e93;
    text-shadow: 1px 1px #000;
}

p {
    font-family: "Comic Neue";
    color: #00ffff;
    font-style: italic;
    text-shadow: 1px 1px #000;
}

li {
    font-family: "Comic Neue";
    color: #ffff00;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 1px 1px #000;
}

.profile-pic {
    border-radius: 50%;
    width: 80%;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
        border: 5px solid #ff00ff;
    }

    to {
        border: 5px solid #00ff00;
        transform: rotate(360deg);
    }
}

.page-container {
    margin: 20px;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #ff00ff;
    border: 10px solid #00ffff;
    box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.5);
    margin-top: 100px;
    margin-bottom: 100px;
}

.content {
    background: #00ff00;
    border-radius: 50px;
    box-shadow: 0 0 20px 0 rgba(255, 0, 0, 0.5);
    padding: 20px;
    margin: 20px;
    color: #00ff00;
    font-size: 24px;
    text-shadow: 2px 2px #000;
    transform: rotate(10deg);
}

.sidebar {
    padding: 10px;
    transform: skew(20deg);
}

